.ProjectDetails-page{
    background-color: #12151F;
    padding: 60px 85px;
}
.ProjectDetails-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProjectDetails-box1 img{
    width: 500px;
    height: 375px;
}
.ProjectDetails-box1-details img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.ProjectDetails-box1-details{
display:flex;
text-align: right;
align-items: center;
gap: 20px;
}
.ProjectDetails-box1-details p{
    color: #FAFEE7;
    text-align: right;
    font-size: 22px;
    font-weight: 700;
}
.ProjectDetails-box1-details button {
    background-color: #9CBF2D80;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #FAFEE7;
}
.ProjectDetails-box1-paragraph{
    font-size: 12px !important;
}
.ProjectDetails-box2 {
    display: flex;
    justify-content: center;
    align-items: center;

}
.ProjectDetails-box2 img{
    width: 450px;
    height: 300px;
}
.ProjectDetails-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    gap: 30px;
}
.ProjectDetails-box3-first{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    text-align: right;
    width: 100%;
    
  
    
}
.box3-details{
    direction: rtl;
    padding: 10px;
}
.box3-details p{
    font-size: 24px;
}
.box3-details ul li{
    padding: 5px;
    color: #FFFFFF;
}
.ProjectDetails-box3-first img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.ProjectDetails-box3-second{
    display: flex;
    align-items: center;
    gap: 40px;
}
.ProjectDetails-box3-second img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.box3-second-details{
    direction: rtl;
    color: #FFFFFF;
    font-size: 20px;
}
.box3-second-details li{
    padding: 5px;
}
.box3-second-details p{
    font-size: 24px;
}
.ProjectDetails-box4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-container{
    display: flex;
    align-items: center;
}
.ProjectDetails-box4 img{
    width: 350px;
    height: 269px;
}
.ProjectDetails-box4-btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ProjectDetails-box4-btns button{
    background-color: #BBE536;
    color: #12151F;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: ease-in 0.3s;

}
.ProjectDetails-box4-btns button:hover{
    transition: ease-in 0.3s;
background-color: #95c104;

}

.ProjectDetails-box4-btns2{
    background-color: transparent !important;
    color: #FFFFFF !important;
    border: 1px solid #BBE536 !important;
}
.ProjectDetails-box4-btns2:hover{
    background-color: #BBE536 !important;
    color: #12151F !important;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
}
.small-image{
    width: 100px;
    height: 269px;
    z-index: 0;
}
.large-image{
    width: 320px !important;
    height: 400px !important;
    z-index: 1;
}